#Día 3
##Temario:
- Listas
- Tuplas
- Sets
- Diccionarios

#Estructuras de datos
Las estructuras de datos son formas de organizar información para trabajar con ellas de manera eficiente.

- Listas: Pueden ser ordenadas, modificadas y permiten duplicados.
- Tuplas: ordenadas, inmutables y permiten duplicados.
- Sets: no ordenadas, no permiten duplicados.
- Diccionarios: pares clave:valor.

Nota: existen otras que se llaman pilas, colas y listas enlazadas/doblemente enlazadas.

##Listas
Las listas son colecciones ordenadas en las que podemos modificar y almacenar elementos de diferente tipo.

In [25]:
lista_de_compras = ["manzana", "pan", "leche", "huevos", "mantequilla", "queso", "jamon"]
print(lista_de_compras)
print(lista_de_compras[0])

['manzana', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']
manzana

In [26]:
#Agregar un elemento a la lista
lista_de_compras.append("arroz")
print(lista_de_compras)

['manzana', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'arroz']

In [28]:
lista_de_compras.insert(2, "harina")
print(lista_de_compras)

['manzana', 'pan', 'harina', 'harina', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'arroz']

In [29]:
lista_de_compras.remove("harina")
print(lista_de_compras)

['manzana', 'pan', 'harina', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'arroz']

In [30]:
lista_de_compras.pop() #Sin ningun parametro, el atributo pop borra el ultimo elemento
print(lista_de_compras)

value = lista_de_compras.pop(2)
print(lista_de_compras)
print(value)

['manzana', 'pan', 'harina', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']
['manzana', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']
harina

In [31]:
#Podemos recorrer las listas con los ciclos For
for elemento in lista_de_compras:
  print(elemento)

manzana
pan
leche
huevos
mantequilla
queso
jamon

In [33]:
#len() obtiene el tamaño de la lista/array
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i+1}.- {lista_de_compras[i]}")

7
1.- manzana
2.- pan
3.- leche
4.- huevos
5.- mantequilla
6.- queso
7.- jamon

In [34]:
promedios = [55.6, 97.5, 23.6, 97.5, 72.4, 100]
promedios.sort() #sort ordena ascendentemente tus arreglos
print(promedios)

[23.6, 55.6, 72.4, 97.5, 97.5, 100]

In [35]:
promedios.sort(reverse=True) #sort ordena descendentemente tus arreglos
print(promedios)

[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [37]:
#podemos ingresar al ultimo elemento de una lista
print(lista_de_compras[-1])
print(promedios[-1])

jamon
23.6

In [38]:
#Max y Min
print(max(promedios))
print(min(promedios))

100
23.6

In [42]:
#Declaración y uso de matrices
calificaciones = [[10, 9, 8], [7, 6, 5]]
print(calificaciones)
i=1
for cal_i in calificaciones:
  j=1
  print(f"Alumno {i}")
  for cal_j in cal_i:
    print(f"Calificacion {j}: {cal_j}")
    j+=1
  i+=1

[[10, 9, 8], [7, 6, 5]]
Alumno 1
Calificacion 1: 10
Calificacion 2: 9
Calificacion 3: 8
Alumno 2
Calificacion 1: 7
Calificacion 2: 6
Calificacion 3: 5

In [43]:
#Array para guardar fechas de nacimiento
fechas = ("10/12/07", "05/02/12", "18/03/05")
print(fechas)

('10/12/07', '05/02/12', '18/03/05')

In [44]:
#Una tupla es INMUTABLE
fechas.append("18/11/05")

AttributeError: 'tuple' object has no attribute 'append'

In [46]:
fecha_lista = list(fechas)
fecha_lista.append("18/11/05")
print(fecha_lista)

['10/12/07', '05/02/12', '18/03/05', '18/11/05']

##Sets
Colecciones que no permiten duplicados ni tienen orden, pero si pueden guardar multiples tipos de datos a la vez

In [47]:
nombre = {"Angel", "Juan", "Diana", "Eliud", "Juan"}
print(nombre)

{'Angel', 'Eliud', 'Diana', 'Juan'}

In [49]:
nombre.add("Leonardo")
print(nombre)

{'Juan', 'Leonardo', 'Diana', 'Eliud', 'Angel'}

In [51]:
#No es posible acceder a valores especificos usando su orden.
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [53]:
#Unión de conjuntos
matutino = {20322, 20323, 20324, 20325}
vespertino = {20322, 20, 20328, 23244}
total_matriculas = matutino | vespertino #ó matutino.union(vespertino)
print(total_matriculas)

{20322, 20323, 20324, 20325, 20328, 23244}

In [57]:
#Intersección de conjuntos
algebra = {20322, 20323, 56324, 74325}
fisica = {20322, 20323, 20328, 23244}
materias = algebra & fisica #ó algebra.intersection(fisica)
print(materias)

{20322, 20323}

In [59]:
#Diferencia
solo_algebra = algebra - fisica #ó algebra.difference(fisica)
print(solo_algebra)

{56324, 74325}

In [60]:
nombre = {"Angel", "Juan", "Diana", "Eliud", "Juan"}
#remove, pop
nombre.remove("Juan")
print(nombre)
nombre.pop() #En el caso de los sets, elimina un elemento de manera aleatoria
print(nombre)

{'Angel', 'Eliud', 'Diana'}
{'Eliud', 'Diana'}

In [62]:
nombre.clear() #Elimina todo el contenido de la variable, pero no la variable
print(nombre)

set()

##Diccionarios
Son colecciones no ordenadas de pares "Clave:Valor"

In [76]:
alumno = {
    #Clave  :  Valor
    "Nombre": "Iván Alexis",
    "Edad": 20,
    "Carrera": "ITS",
    "Semestre": 7,
    "Promedio": 80,
    "Calificaciones": [100, 94, 94, 97, 100]
}
print(type(alumno))
alumno

<class 'dict'>

{'Nombre': 'Iván Alexis',
 'Edad': 20,
 'Carrera': 'ITS',
 'Semestre': 7,
 'Promedio': 80,
 'Calificaciones': [100, 94, 94, 97, 100]}

In [77]:
print("El alumno", alumno["Nombre"], "tiene un promedio de", alumno["Promedio"], "esta estudiando la carrera:", alumno["Carrera"])

El alumno Iván Alexis tiene un promedio de 80 esta estudiando la carrera: ITS

In [78]:
#Agregar al alumno...
alumno["Area preferida"] = "Ciencia de datos"
alumno

{'Nombre': 'Iván Alexis',
 'Edad': 20,
 'Carrera': 'ITS',
 'Semestre': 7,
 'Promedio': 80,
 'Calificaciones': [100, 94, 94, 97, 100],
 'Area preferida': 'Ciencia de datos'}

In [79]:
for valor in alumno:
  print(alumno[valor])

Iván Alexis
20
ITS
7
80
[100, 94, 94, 97, 100]
Ciencia de datos

In [80]:
for clave, valor in alumno.items():
  print(clave,":", valor)

Nombre : Iván Alexis
Edad : 20
Carrera : ITS
Semestre : 7
Promedio : 80
Calificaciones : [100, 94, 94, 97, 100]
Area preferida : Ciencia de datos

In [81]:
#El metodo clear tambien se puede usar en los diccionarios.
#La función get nos permite obtener el valor de cierta clave.
print(alumno.get("Nombre"))

Iván Alexis

In [82]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))

dict_items([('Nombre', 'Iván Alexis'), ('Edad', 20), ('Carrera', 'ITS'), ('Semestre', 7), ('Promedio', 80), ('Calificaciones', [100, 94, 94, 97, 100]), ('Area preferida', 'Ciencia de datos')])
<class 'dict_items'>

In [87]:
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

[('Nombre', 'Iván Alexis'), ('Edad', 20), ('Carrera', 'ITS'), ('Semestre', 7), ('Promedio', 80), ('Calificaciones', [100, 94, 94, 97, 100]), ('Area preferida', 'Ciencia de datos')]
<class 'list'>

In [88]:
#El método values sirve para obtener los valores de un diccionario. Se puede
alumno_values = alumno.values()
print(alumno_values)
print(type(alumno_values))

dict_values(['Iván Alexis', 20, 'ITS', 7, 80, [100, 94, 94, 97, 100], 'Ciencia de datos'])
<class 'dict_values'>

In [89]:
if "Carrera" in alumno:
  print("Si existe")
else:
  print("No existe")
if "Dinero" in alumno:
  print("Tiene dinero")
else:
  print("No tiene dinero")

Si existe
No tiene dinero

In [92]:
#copy sirve para copiar todo el diccionario en una nueva variable
#update sirve para actualizar la clave y valor de un diccionario
alumno.update({"Semestre": 5})
alumno

{'Nombre': 'Iván Alexis',
 'Edad': 20,
 'Carrera': 'ITS',
 'Semestre': 5,
 'Promedio': 80,
 'Calificaciones': [100, 94, 94, 97, 100],
 'Area preferida': 'Ciencia de datos'}

In [94]:
# Lista de productos
productos = ["manzana", "banana", "leche", "pan"]  # <-- LISTA

# Tupla de precios
precios = (10, 5, 20, 15)  # <-- TUPLA

# Diccionario de inventario: producto -> {"precio": x, "stock": y}
inventario = {productos[i]: {"precio": precios[i], "stock": 10} for i in range(len(productos))}
# <-- DICCIONARIO
# Clave: nombre del producto
# Valor: otro diccionario con "precio" y "stock"

# Set de productos en oferta
ofertas = {"manzana", "pan"}  # <-- SET

# Mostrar productos
for p in productos:
    msg = "OFERTA!!!" if p in ofertas else "Grandes precios!"
    info = inventario[p]
    print(f"{p.title()} - ${info['precio']} - Stock: {info['stock']} -> {msg}")

# Compra simple
compra = input("\n¿Qué producto quieres comprar? ").strip().lower()

if compra in inventario and inventario[compra]["stock"] > 0:
    inventario[compra]["stock"] -= 1
    print(f"Compraste 1 {compra}. Stock restante: {inventario[compra]['stock']}")
else:
    print("Producto no disponible.")

Manzana - $10 - Stock: 10 -> OFERTA!!!
Banana - $5 - Stock: 10 -> Grandes precios!
Leche - $20 - Stock: 10 -> Grandes precios!
Pan - $15 - Stock: 10 -> OFERTA!!!

¿Qué producto quieres comprar? Pan
Compraste 1 pan. Stock restante: 9