#Día 1
##Temario:
- Tipos de Datos
- Operaciones Matematicas
- Operaciones con String
- Operaciones Lógicas
- Operaciones Booleanas

##Tipos de Datos

In [ ]:
#Existen los datos:
enteros = 1 #Son numeros sin decimales
flotantes = 1.1 #Son numeros con decimales
type(enteros)

int

In [ ]:
#Cadenas de datos/Strings
caracter = "a"
cadena_de_caracteres = "Hola"
type(cadena_de_caracteres)

str

In [ ]:
#Booleanos
verdadero = True
falso = False
type(verdadero)

bool

In [ ]:
#Imprimir valores
print(enteros)
print(flotantes)
print(caracter)
print(cadena_de_caracteres)
print(verdadero)
print(falso)

1
1.1
a
Hola
True
False

In [1]:
#Ingresar valores
nombre = input("Ingrese su nombre: ") #La función input permite imprimir valores también, para dar contexto de lo que se necesita ingresar
print("Hola", nombre)

num = int(input("Ingrese un número: ")) #La función int permite guardar el input como un Entero (si es posible) en lugar de un String
print(num + 1)

Ingrese su nombre: Ivan
Hola Ivan
Ingrese un número: 8
9

##Operaciones Matemáticas

In [2]:
#4to Nivel de importancia
#Suma Ordinaria
print(3 + 7)
variable1, variable2 = 10, 20
print(variable1 + variable2)

#Resta Ordinaria
print(10 - 5)
print(variable2 - variable1)

10
30
5
10

In [3]:
#3er Nivel de Importancia
#Multiplicación Ordinaria
print(variable1, variable2)
print("------------------------")
print(3 * 7)
print(variable1 * variable2)

#División Ordinaria
print(15 / 5)
print(variable2 / variable1)

#División de piso (Redondea siempre hacia abajo)
print((variable2 + 9) // variable1)

print(variable2 / variable1 * 5)

10 20
------------------------
21
200
3.0
2.0
2
10.0

In [4]:
#Potencias
print(variable1, variable2)
print("------------------------")
print(2 ** 3)
print(variable1 ** variable2)

10 20
------------------------
8
100000000000000000000

##Operaciones con String

In [ ]:
#Strings
Hi = "Hola mundo"
print(Hi)

a, b = "ta", "co"
print(a + b)

Hola mundo
taco

In [5]:
#Un animal que debe tener un nombre, una comida favorita y una profesion
Animal = "Lobo"
Nombre = "Nosferatu"
Comida = "Tamales con rajas de chile verde"
Profesion = "Programador"
print(f"Hola, soy {Nombre} y soy un {Animal}. Me gusta {Comida} y soy {Profesion}")

Hola, soy Nosferatu y soy un Lobo. Me gusta Tamales con rajas de chile verde y soy Programador

##Operaciones Lógicas

In [7]:
#Empezamos con los operadores lógicos <, >, <=, >=, and, or (Siempre retornan un valor)
b1 = 4 > 5
b2 = 7 < 3
b3 = 14 >= 14

In [ ]:
#Quieres un sandwich...
pan = True
queso = True
mayonesa = True
jamon = False

print(pan and queso and mayonesa or jamon)
print(True * 2)
print(False * 74568)

True
2
0